<html>
  <head>
    <title>Why do we do what we do?</title>
  </head>
  <body style="background-color:magenta">
    <h1>For you, silly!</h1>
    <p>We love you! All we want is your happiness. Isn't that awesome?</p>
  </body>
  <%= link_to "Home", root_path %>
</html>