<html>
  <head>
    <title>Welcome to the world's best website!</title>
  <body style= "background-color:cyan">
    <h1>Your happiness is our concern!</h1>
    <p>Here, we care about making you happy. If you need anything, please let us know. </p>
    </body>
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>
  </head>
</html>